<div class=”top-main">
<h1>Check a Porker Hand</h1>
</div>

<!– 入力箇所 -->

<div class=“form”>
<%= form_tag ("/judge") do %>
<input type="text" name="hand" >
<input type="submit" value="check">
<% end %>
</div>
