<div class="top-main">
  <h1>Check a Porker Hand</h1>
</div>

<div class="form">
  <%= form_tag ({ :controller => 'cards', :action => 'judge' }) do %>
    <input type="text" name="hand" value="<%= @cards.hand %>" >
    <input type="submit" value="check">
  <% end %>
</div>

<!– エラー表示箇所 -->
<div class="error_message">
  <% @cards.error.each do |p| -%>
    <ul><%= p %></ul>
  <% end -%>
</div>
